[submodule ".registry"]
	path = .registry
	url = https://github.com/maelle/universe
	shallow = true
	branch = HEAD
[submodule "riem"]
	path = riem
	url = https://github.com/ropensci/riem
	shallow = true
	branch = master
	registered = true
[submodule "tinkr"]
	path = tinkr
	url = https://github.com/ropensci/tinkr
	shallow = true
	branch = master
	registered = true
[submodule "rtimicropem"]
	path = rtimicropem
	url = https://github.com/ropensci/rtimicropem
	shallow = true
	branch = master
	registered = true
[submodule "goodpress"]
	path = goodpress
	url = https://github.com/maelle/goodpress
	shallow = true
	branch = master
	registered = true
[submodule "cransays"]
	path = cransays
	url = https://github.com/lockedata/cransays
	shallow = true
	branch = master
	registered = true
[submodule "roblog"]
	path = roblog
	url = https://github.com/ropenscilabs/roblog
	shallow = true
	branch = master
	registered = true
[submodule "rodev"]
	path = rodev
	url = https://github.com/ropenscilabs/rodev
	shallow = true
	branch = master
	registered = true
[submodule "crul"]
	path = crul
	url = https://github.com/ropensci/crul
	shallow = true
	registered = false
[submodule "lockedatapkg"]
	path = lockedatapkg
	url = https://github.com/lockedatapublished/lockedatapkg
	shallow = true
	registered = false
[submodule "xml2"]
	path = xml2
	url = https://github.com/r-lib/xml2
	shallow = true
	registered = false
